.App {
  min-height: 100vh;
}

.device {
  width: 18rem;
  border-radius: 4%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-right: 10px;
}

.card-body > .btn {
  margin-right: 10px;
}